<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title> {{title}}</title>
</head>
    {{{body}}}
</body>
<footer>
    <h2> SOCIAL MEDIA LINKS </h2>
   <ul>
       <li><a href="https://www.facebook.com/Amazon/">Facebook</a></li>
       <li><a href="https://twitter.com/amazon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a></li>
       <li><a href="https://www.pinterest.ca/amazon/">Pinterest</a></li>
   </ul>
   <p>&copy; Nima Shahi </p>
</footer>
</html>