<!DOCTYPE html>
<html lang="en">
<head content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title> {{title}}</title>
</head>
<body>
    {{{body}}}
</body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
<footer class="footer-links">
    <h2> SOCIAL MEDIA LINKS </h2>
   <ul>
       <li><a href="#"><img src="/images/facebook.png" width="30" height="30"></a></li>
       <li><a href="#"><img src="/images/twitter.png" width="30" height="30"></a></li>
       <li><a href="#"><img src="/images/pinterest.png" width="30" height="30"></a></li>
   </ul>
   <p>&copy; Nima Shahi #106129190 WEB322</p>
</footer>
</html>