<div class="topnav">
  <img src="images/favicon.png">
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/registration">Register</a>
  <a href="/products">Products</a>
</div>

<div class="loginform"> 

<strong>Welcome to our website!</strong><br> We are so glad you joined. Please check out our products page for the latest crossfit equipment!
We will continually send updates or changes to your registered e-mail.

</div>